.footer {
  background-color:#2f5167;
  height: 120px;
  color:#fff;
  padding:40px;
}

.footer-logo{
  float:left;
  font-size:32px;
}

.footer-list{
  float:right
}

.footer-list li{
  padding-bottom:20px;
}